.container {
  display: flex;
  flex-direction: column;
  gap: 5;
  color: green;
}

.detailsDiv {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 20%;
  text-align: left;
}
