.container {
  display: flex;
  flex-direction: column;
  gap: 5;
  color: green;
}

.detailsDiv {
  display: flex;
  flex-direction: column;
  gap: 5;
  color: green;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
